<ul class="run-menu tab-menu">
  <li>
    <%= link_to "Overview",
      repository_test_suite_run_path(test_suite_run.repository_id, test_suite_run),
      class: current_tab_name == "overview" ? "active" : "" %>
  </li>

  <% test_suite_run.runs.sorted.each do |task| %>
    <li>
      <%= link_to task.name,
        task_path(task, target_tab_name),
        class: task.id == active_task&.id ? "active" : "" %>
    </li>
  <% end %>
</ul>
