<div class="project">
  <header class="project-header">
    <h2><%= link_to @project.name, project_path(@project) %></h2>
    <%= link_to "Settings", project_settings_path(@project) %>
  </header>

  <%= body %>
</div>
