<% if body.present? %>
  <div class="run-info-container"
       data-controller="terminal-output"
       data-terminal-output-delay-value="<%= DOM_RENDER_DELAY_IN_MILLISECONDS %>">
    <div id="<%= dom_id(run, current_tab_name) %>">
      <pre class="terminal terminal-masked"><%= helpers.ansi_to_html(body) %></pre>
    </div>
  </div>
<% else %>
  <div class="non-terminal-run-info">
    <p class="waiting-for-output">Waiting for output to start...</p>
    <p class="quote"><%= Quote.random.html_safe %></p>
  </div>
<% end %>
