<% if body.present? %>
  <div class="run-info-container">
    <div id="<%= dom_id(run, current_tab_name) %>">
      <pre class="terminal terminal-masked"><%= helpers.ansi_to_html(body) %></pre>
    </div>
  </div>
  
  <script>
  (function() {
    var runDetails = document.querySelector('.run-details');
    var autoScrollEnabled = true;
    
    function isAtBottom() {
      return runDetails.scrollTop + runDetails.clientHeight >= runDetails.scrollHeight - 5;
    }
    
    function scrollToBottom() {
      if (autoScrollEnabled) {
        runDetails.scrollTop = runDetails.scrollHeight;
      }
    }
    
    // Initial scroll to bottom
    setTimeout(scrollToBottom, <%= DOM_RENDER_DELAY_IN_MILLISECONDS %>);
    
    // Listen for user scroll events
    runDetails.addEventListener('scroll', function() {
      autoScrollEnabled = isAtBottom();
    });
    
    // Expose function for potential future use with streaming content
    window.terminalAutoScroll = scrollToBottom;
    
    document.querySelector('.terminal').classList.remove('terminal-masked');
  })();
  </script>
<% else %>
  <div class="non-terminal-run-info">
    <p class="waiting-for-output">Waiting for output to start...</p>
    <p class="quote"><%= Quote.random.html_safe %></p>
  </div>
<% end %>
