<%= render repository_component do |component| %>
  <%= component.with_body do %>
    <div class="two-column-master-detail">
      <%= render TestSuiteRunListComponent.new(
        test_suite_run: build,
        test_suite_run_filter_component:
      ) %>

      <div class="test-suite-run-wrapper">
        <%= body %>
      </div>
    </div>
  <% end %>
<% end %>
