<% task_event_list = TaskEventList.new(task) %>
<div class="run-info-container non-terminal-run-info">
  <table border>
    <tr>
      <th>Event</th>
      <th>Timestamp</th>
      <th>Duration (s)</th>
    </tr>
    <% task_event_list.events.each_with_index do |event, index| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.created_at %></td>
        <td class="number"><%= task_event_list.duration_since_previous(index) %></td>
      </tr>
    <% end %>
  </table>
</div>
