<li>
  <%= link_to project_build_path(active_build.project, build),
    data: { turbo_frame: "build", action: "click->build-list#makeActive", build_list_target: "link" },
    class: build == active_build ? "active" : "",
    id: "build_link_#{build.id}" do %>

    <div id="build_status_<%= build.id %>">
      <%= render "builds/list_item", build: build %>
    </div>
  <% end %>
</li>
