<% if build.finished? %>
  <div class="build-overview-wrapper">
    <div class="test-case-run-list">
      <%= render "builds/test_case_run_list", build: %>
    </div>

    <%= turbo_frame_tag "test_case_run_details", class: "test-case-run-details", data: { turbo_action: "advance" } do %>
    <% end %>
  </div>
<% else %>
  Waiting for test suite to finish...
<% end %>
