<h3>Test Cases (<%= build.test_case_runs.count %>)</h3>

<div class="build-overview">
  <ul>
    <% build.test_case_runs.order("status desc, path").each do |test_case_run| %>
      <li class="test-case-run-status-<%= test_case_run.status %>">
        <%= test_case_run.tidy_identifier %>
      </li>
    <% end %>
  </ul>
</div>
