<ul class="build-overview-test-case-runs" data-controller="test-case-run">
  <% TestCaseRun.failed_first(build.test_case_runs).each do |test_case_run| %>
    <% cache [test_case_run, test_case_run == active_test_case_run] do %>
      <li class="test-case-run-status-<%= test_case_run.status %>">
        <%= link_to "#{File.basename(test_case_run.path)}:#{test_case_run.line_number}",
          project_test_case_run_path(test_case_run.project, test_case_run),
          data: {
            turbo_frame: "test_case_run_details",
            action: "click->test-case-run#makeActive",
            test_case_run_target: "link"
          },
          class: test_case_run == active_test_case_run ? "active" : "" %>
      </li>
    <% end %>
  <% end %>
</ul>
