.build-menu {
  padding: 20px 0 0 20px;
  background-color: #EEE;
  border-top: 2px solid #CCC;
}

.build-menu a {
  background-color: #CCC;
}

.build-menu a.active {
  color: #FFF;
  background-color: #000;
}

.thick-black-bottom-border {
  border-bottom: 15px solid #000;
}
