.build-filter-form, .build-count {
  padding-left: 12px;
  padding-right: 12px;
}

.build-filter-form {
  display: none;
  padding-top: 0;
  padding-bottom: 15px;
}

.build-filter-form select {
  width: 100%;
}

.build-filter-form-status {
}

.build-filter-form-checkboxes {
  flex-wrap: wrap;
  display: flex;
  gap: 5px;
}

.build-filter-form-checkbox-label {
  display: flex;
  white-space: nowrap;
  width: 120px;
  gap: 5px;
}

.build-filter-form-checkbox-label input {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  top: 1px;
}

.build-count {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.filter-toggle-link {
  color: #666;
  text-decoration: none;
  display: none;
}

.build-count, .filter-toggle-link {
  color: #666;
}
