.build-overview {
  background-color: #EEE;
  border-top: 2px solid #CCC;

  flex-grow: 1;
  max-height: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: row;
}

.test-case-run-details {
  overflow-y: auto;
  max-height: 100%;
}

.test-case-run-details {
  flex: 1;
  width: 0;
  padding: 5px 10px 30px 15px;
}

.test-case-run {
  padding-top: 10px;
  overflow: auto;
}

.test-case-run header {
  background-color: #FFF;
  border-radius: 8px;
  padding: 10px;
}

.test-case-run-header-passed {
  border: 4px solid green;
}

.test-case-run-header-failed {
  border: 4px solid red;
}

.test-case-run-header-passed h2 {
  color: green;
}

.test-case-run-header-failed h2 {
  color: red;
}

.test-case-run .code {
  font-family: monospace;
  font-size: 12px;
  background-color: #FFF;
  padding: 10px;
}

.test-case-run .code-section {
  background-color: #CCC;
  padding: 5px;
  margin: 20px 0;
}

.test-case-run .code-section h3 {
  font-size: 16px;
  font-weight: normal;
  color: #444;
  padding: 0 0 4px 0;
  margin: 0;
}

.test-case-run-details h2 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
}

.test-case-run-details h3 {
  padding: 0;
  margin: 0;
  color: #444;
  font-size: 16px;
}

.screenshot-link {
  color: #00F !important;
}
