.build-filter-form, .build-count {
  background-color: #DDD;
  padding-left: 8px;
  padding-right: 8px;
}

.build-filter-form {
  padding-top: 10px;
  padding-bottom: 10px;
}

.build-filter-form select {
  width: 100%;
}

.build-filter-form-status {
  margin: 15px 0 20px 0;
}

.build-filter-form-checkboxes {
  flex-wrap: wrap;
  display: flex;
  gap: 5px;
}

.build-filter-form-checkbox-label {
  display: flex;
  white-space: nowrap;
  width: 120px;
  gap: 5px;
}

.build-filter-form-checkbox-label input {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  top: 1px;
}

.build-count {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #666;
  border-top: 2px solid #CCC;
  font-size: 80%;
}
