.build-overview-test-case-runs {
  font-family: monospace;
  font-size: 12px;
  max-width: 600px;
}

.build-overview-test-case-runs a {
  display: block;
  background: none;
  padding: 3px 0;
}

.test-case-run-status-passed a {
  color: green;
}

.test-case-run-status-failed a {
  color: #FFF;
  background-color: red;
}
