.build-overview-wrapper {
  padding: 20px 15px;
  background-color: #EEE;
  border-top: 2px solid #999;

  flex-grow: 1;
  max-height: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: row;
}

.test-case-run-details, .test-case-run-list {
  border: 1px solid #999;
  overflow-y: auto;
  max-height: 100%;
}

.test-case-run-details {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #DDD;
  border-right: none;
  flex: 1;
  padding: 5px 10px;
}

.test-case-run-list {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #FFF;
  flex: 0 0 300px;
}

.test-case-run {
  width: 500px;
}

.test-case-run-details h2 {
  padding: 0;
  margin: 10px 0 10px 0;
  font-size: 16px;
}

.test-case-run-details h3 {
  padding: 0;
  margin: 0;
  color: #888;
  font-size: 20px;
}

.build-overview-test-case-runs {
  font-family: monospace;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.build-overview-test-case-runs a {
  display: block;
  background: none;
  padding: 5px 10px;
  text-decoration: none;
}

.build-overview-test-case-runs a:hover {
  color: #000;
  background-color: #8DF;
}

.build-overview-test-case-runs li:nth-child(odd) {
  background-color: #EEE;
}

.build-overview-test-case-runs li:nth-child(even) {
  background-color: #FFF;
}

.test-case-run-status-passed a {
  color: green;
}

.test-case-run-status-failed a {
  color: red;
}
