.project-home {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.project-header {
  background-color: #DDD;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  padding: 0 10px;
}

.project-header h2 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.project-header a {
  display: block;
}

.project-inner {
  padding: 10px;
}
