.repository-home {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.repository-header {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  margin: 0;
  padding: 0 10px;
  background-color: #EEE;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 2px solid #CCC;
  border-bottom: 2px solid #CCC;
}

.repository-header h2 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.repository-header a {
  display: block;
  color: #555;
  text-decoration: none;
}

.repository-header a:hover {
  color: #00F;
}

.project-inner {
  padding: 10px;
}
