.run-details {
  overflow-y: auto;
  height: 100vh;
  z-index: 100;
}

.terminal-masked, .terminal-masked span {
  color: #000 !important;
}

.run-info-container {
  width: 0;
  min-width: 100%;
  overflow: auto;
}

.terminal, .non-terminal-run-info {
  overflow: auto;
  padding: 12px;
}
