.run-menu-container {
  display: flex;
  padding: 0;
}

ul.run-menu {
  text-align: center;
  padding: 8px 0 0 15px;
}

ul.run-menu li {
  position: relative;
  top: 2px;
  z-index: 10;
}

ul.run-menu li a {
  background-color: #CCC;
  border-top: 2px solid #CCC;
  border-bottom: 2px solid #999;
  margin: 0;
  padding: 6px 11px 6px 11px !important;
}

ul.run-menu li a.active {
  border-top: 2px solid #999;
  border-left: 2px solid #999;
  border-right: 2px solid #999;
  border-bottom: 2px solid #EEE;
  padding-left: 9px !important;
  padding-right: 9px !important;
  color: #000;
  background-color: #EEE;
}
