.run-menu-container {
  display: flex;
  padding: 0;
}

ul.run-menu {
  display: flex;
  text-align: center;
  padding: 8px 0 0 10px;
  margin: 0;
  list-style: none;
}

ul.run-menu li {
  position: relative;
  top: 2px;
  z-index: 10;
}

ul.run-menu li a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #CCC;
  border-top: 2px solid #CCC;
  border-bottom: 2px solid #999;

  padding: 7px 12px 6px 12px;
  margin: 0;
  margin-right: 6px;
  display: block;
  text-decoration: none;
  color: #444;
}

ul.run-menu li a.active {
  border-top: 2px solid #999;
  border-left: 2px solid #999;
  border-right: 2px solid #999;
  border-bottom: 2px solid #EEE;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  background-color: #EEE;
}
