.two-column-master-detail {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  min-height: 0;
  height: 100%;
}

.test-suite-run-wrapper {
  flex: 1;
  min-height: 0;
  display: flex;
}

.build {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.run-menu, .test-suite-run-header {
  background-color: #FFF;
}

.build a {
  color: #000;
}

.build-body {
  background-color: #EEE;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.terminal {
  font-family: monospace;
  background-color: #000;
  color: #FFF;
}

.test-suite-run-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000;
  margin-top: 5px;
  margin-left: 10px;
}

.test-suite-run-header h2 {
  font-size: 24px;
  color: #000;
  margin: 0 0 2px 0;
  padding: 0;
}

.test-suite-run-header h3 {
  color: #444;
  font-weight: normal;
}

.test-suite-run-header {
  padding: 12px;
}

.build-action-buttons {
  display: flex;
  gap: 4px;
  margin-top: 5px;
}
