.test-suite-run-filter-form, .test-suite-run-list-header {
  padding-left: 12px;
  padding-right: 12px;
}

.test-suite-run-filter-form {
  display: none;
  padding-top: 0;
  padding-bottom: 15px;
}

.test-suite-run-filter-form select {
  width: 100%;
}

.test-suite-run-filter-form-checkboxes {
  flex-wrap: wrap;
  display: flex;
  gap: 5px;
}

.test-suite-run-filter-form-checkbox-label {
  display: flex;
  white-space: nowrap;
  width: 120px;
  gap: 5px;
}

.test-suite-run-filter-form-checkbox-label input {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  top: 1px;
}

.test-suite-run-list-header {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
  display: flex;
}

.filter-toggle-link {
  text-decoration: none;
  display: none;
  flex-grow: 1;
  text-align: right;
}

.test-suite-run-list-header, .filter-toggle-link {
  color: #666;
}

.filter-toggle-link, .test-suite-run-count {
  padding-top: 6px;
  padding-bottom: 6px;
}
