.test-case-run-list {
  overflow-y: hidden;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.test-case-run-list-body {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  font-family: monospace;
  font-size: 12px;
}

.test-case-run-list-body ul {
  padding: 0;
  margin: 0;
}

.test-case-run-list {
  border-left: 2px solid #CCC;
  background-color: #EEE;
  width: 300px;
}

.test-case-run-list-header {
  border-bottom: 2px solid #CCC;
  padding: 10px;
  color: #666;
}

.test-case-run-list-body ul a {
  display: block;
  background: none;
  padding: 5px 10px;
  text-decoration: none;
}

.test-case-run-list-body ul a:hover {
  background-color: #DDD;
}

.test-case-run-list-body ul .test-case-run-status-failed a.active {
  background-color: red;
  color: #FFF;
}

.test-case-run-list-body ul .test-case-run-status-passed a.active {
  background-color: #00F;
  color: #FFF;
}

.test-case-run-list-body ul li:nth-child(odd) {
  background-color: #FFF;
}

.test-case-run-list-body ul li:nth-child(even) {
  background-color: #EEE;
}

.test-case-run-status-passed a {
  color: green;
}

.test-case-run-status-failed a {
  color: red;
}
