<h1>New Project Integrations</h1>

<table border>
  <% @repositories.each do |repository| %>
    <tr>
      <td>
        <%= link_to repository.name,
          github_account_project_integrations_path(repo_full_name: repository.full_name),
          data: { turbo_method: :post } %>
      </td>
    </tr>
  <% end %>
</table>
