<div class="container">
  <h1>Admin</h1>

  <ul>
    <li><%= link_to "Users (#{User.count})", admin_users_path %></li>
    <li><%= link_to "GitHub Events", admin_github_events_path %></li>
  </ul>
</div>
